*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: white;
    color: #333;
}

/* HEADER */
header {
    background: linear-gradient(to right, #08CA97, #118AB2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 135px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img {
    width: 63px;
    height: auto;
}
.logo h1 {
    font-size: 43px;
    color: white;
    line-height: 1.2;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 65px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

/* OBJECTIVES */
#objectives{ 
    padding: 3% 18%;
}
#obj{
    padding: 0% 4%;
    text-align: start;
    display: flex;
    flex-direction: column;
}
.num-icon {
    display: inline-block;
    height: 135px;
    margin-bottom: 30px;
}
.num-img{
    display: flex;
    margin-left: 2%;
}
.num-img p {
    max-width: 85%;
    margin-left: 3%;
    margin-top: 10px;
    font-size: 26px;
    line-height: 1.6;
}

/* EVENTS */
#events {
    padding: 3% 14%;
}
#update-events {
    padding: 0% 4%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 55px;
}
.title {
    color: #118AB2;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 3%;
}
.event-img {
    width: 40vh;
    height: 30vh;
    margin-bottom: 6%;
}
.event-det h2 {
    font-size: 24px;
    margin-bottom: 3%;
    width: 99%;
    color: #118AB2;
}
.event-det p {
    font-size: 17px;
    margin-bottom: 3%;
    width: 99.5%;
    text-align: justify;
}
.event-det span{
    display: block;
    height: 0.3vh;
    width: 40vh;
    background-color: #08ca97b3;
    margin-bottom: 3%;;
}

/* ACHIEMENTS */
#achievements {
    padding: 3% 20%;
}
#achieve {
    padding: 0% 4%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 55px;
}
.achieve-con {
    position: relative;
}
.title {
    color: #118AB2;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 3%;
}
.achieve-img {
    width: 45vh;
    height: 33vh;
    margin-bottom: 6%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.achievement-det {
    background-color: #118AB2;
    padding: 5% 5%;
    margin: 0% 3% 28% 28%;
    position: relative;
    z-index: 1;
}
.achievement-det h2 {
    font-size: 24px;
    margin-bottom: 3%;
    width: 99%;
    color: #ffffff;
}
.achievement-det p {
    font-size: 17px;
    margin-bottom: 3%;
    width: 99.5%;
    text-align: justify;
    color: #ffffff;
}
.achieve-det span{
    display: block;
    height: 0.3vh;
    width: 40vh;
    background-color: #08ca97b3;
    margin-bottom: 3%;;
}




  




